{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Social Network</title>
        <link rel='stylesheet' href="{% static 'base/main.css' %}">
        <link rel='stylesheet' href="{% static 'base/room.css' %}">
    </head>
    <body>
        {% include 'navbar.html' %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% block content %}
        
        {% endblock content %}
    </body>
</html>