{% extends 'main.html' %}

{% block content %}
    <div class="room-container">
        <div>
            <h1>{{room.name}}</h1>
            <p>{{room.description}}</p>
            <div class="comment-wrapper">
                <h3>Conversation</h3>
                <hr>
                {% for comment in comments %}
                    <div>
                        {% if request.user == comment.user%}
                            <a href="{% url 'Delete-Comment' comment.id %}">Delete</a>
                        {% endif %}
                        <small>@{{comment.user}} {{comment.created | timesince}} ago</small>
                        <p>{{comment.body}}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
                <div class="comment-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write Your Message Here..."/>
                    </form>
                </div>
            {% endif %}
        </div>
        <div>
            <h3>Participants</h3>
            <hr>
            {% for participant in participants %}
                <div>
                    <p>@{{participant.username}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content%}